/* use * for select full page  */
*{
    margin: 0;
    padding: 0;
}
.header-container{
    position: relative;
    margin-bottom: 271px;

}
.header-div{
position: absolute;
width: 525px;
height: 228px;
left: 845px;
top: 216px;
margin-right: 230px;

}
.first-header{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 76px;
text-align: right;
color: white;
}
/* use color white because bg is blue */
.header-description{
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
font-weight: 400;
font-size: 16px;
text-align: right;
margin-top: 24px;
margin-bottom: 30px;
color: #FFFFFF;
}
.primary-btn{
    width: 160px;
    height: 64px;
    border-radius: 5px;
    color: #005FAC;
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 20px;
    justify-content: right;
    border: white;
    margin-left: 360px;
}

.main-container{
    display: flex;
    margin-top: 271px;margin-bottom: 75px;
  
}
/* use margin for picture position */
.person-img{
margin-left: 206px;
}
.main-description{
margin-top: 510px;
margin-left: 62px;
width: 441px;
height: 408px;

}
.main-heading{
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;
margin-bottom: 24px;
}
.failiur-desc{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
width: 416px;
height: 104px;
left: 761px;
top: 1473px;
margin-bottom: 18px;
color: #444343;

}
.skill-container{
    display: flex;
    margin: 130px 240px;
    gap: 86px;
    
}
.skill-title{
    font-family: Work Sans;
font-size: 30px;
font-weight: 700;
line-height: 35px;
color: #151414;
margin-top: 24px;
margin-bottom: 16px;

}
.skill-description{
    font-weight: 500;
font-size: 25px;
line-height: 29px;
text-align: center;
color: #737272;
}
.img-icon{
align-items: center;
    
}
/* ../use for going uper folder */
.show-bg{
background: url('../images/watch.png');
color: white;
background-size: cover;
width: 1140px;
height: 300px;
align-items: center;
justify-content: center;
display: flex;
position:absolute;
}
.show-gradient{
background:linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
width: 1140px;
height: 300px;
position: relative;
color: white;
opacity: 1;   
border-radius: 8px;
}
.gradient{
margin: 130px 230px;
}
.gradient-head{
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;
width: 459px;
height: 94px;
left: 294px;
margin: 60px;
padding-top: 60px;
}
/* .secondary-btn use for call me button */
.secondary-btn{
width: 160px;
height: 64px;
left: 294px;
border: white;
border-radius: 5px;
margin-left: 64px;
margin-bottom:59px;
font-weight: 600;
font-size: 20px;
color: #005FAC;
}
/* use color white because the bg is black */
.footer-container{
color: white;
background-color:#151414; ;
display: flex;
padding: 200px;
width: 1600px;
height: 577px;

}
.footer-description{
    width: 485px;
    height: 317px;
   margin-left: 196px;
}
.subscribe{
    margin-left: 331px;
}
.footer-heading1{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 16px;

}
.phn-no{
    margin-top: 16px;
    margin-bottom: 32px;
}
.footer-desc-heading{
    font-weight: 600;
font-size: 25px;
margin-bottom: 31px;
}
.future-desc{
    margin-bottom: 24px ;
}

.email{
width: 325px;
height: 64px;
background: #151414;
border: 1px solid white;
border-radius: 8px;
color: color #f3f3f3;;
padding-left: 20px;
margin-bottom:16px;
}
.sub-btn{
background: #005FAC;
border-radius: 8px;
width: 170.11px;
height: 64px;
color: #FFFFFF;
}
